.divFlex{
display: flex;
}
#imageStyle img{
  height: 300px;
 width: 300px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}